<div id="cocktail-detail">
    <div class="cocktail-detail-card">
    <h1 class="cocktail-title">{{cocktailDetails.name}}</h1>
    <div class="cocktail-image-container">
        <img class="cocktail-image" src="{{cocktailDetails.cocktailImage}}" alt="{{cocktailDetails.name}}">
    </div>

    <div class="right-card">

    <div class="cocktail-description">
        
        <p>{{cocktailDetails.shortDescription}}</p>
        <div class="ingredients-measures-list">
            <div class="ingredients-list">
                <h4>Ingredients</h4>
                <ul class="ingredients-list">
                    {{#each cocktailDetails.ingredients}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            <div class="measures-list">
                <h4>Measures</h4>
                <ul class="measures-list">
                    {{#each cocktailDetails.measures}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <h4>Instructions</h4>
        <p>{{cocktailDetails.instructions}}</p>
        <h4>Description</h4>
        <p>{{cocktailDetails.longDescription}}</p>
    </div>

{{#if checkCocktail}}
    <div class="cocktail-buttons">
        <form action="/cocktails/{{id}}/delete" method='POST'>
            <button type="submit">Delete Cocktail</button>
        </form>
        <form action="/cocktails/{{id}}/edit">
            <button type="submit">Edit Cocktail</button>
        </form>
    </div>
{{else }}
<h2>No es mi cóctel!!!</h2>
{{/if}}
