{{!-- <h1 class="title">Our Cocktails:</h1>
    {{#each allCocktails}}
        <div class="cocktail-card">
            <h2 class="cocktail-title">{{name}} </h2>
            <img class="cocktails-view-images"src="{{cocktailImage}}" alt="{{name}}">
            <h3 class="short-description">{{shortDescription}}</h3>
            <a class="cocktail-link" href="cocktails/{{id}}">Learn more</a>
        </div>
    {{/each}} --}}
<div id="all-cocktails">
    <h1 class="title">Discover all cocktails</h1>
    {{#each allCocktails}}
        <div class="cocktail-card">
            <h2 class="cocktail-title">{{name}} </h2>
            <img class="cocktails-view-images"src="{{cocktailImage}}" alt="{{name}}">
            <h3 class="short-description">{{shortDescription}}</h3>
            <a class="cocktail-link" href="/cocktails/{{id}}">View details</a>
        </div>
    {{/each}}
</div>