<div class="user-profile-card">
    <div class="user-profile-form-card">
        <form class ="form" action="{{action}}" method="POST" enctype="multipart/form-data">

            <label class="label" for="username">Username</label>
            <input class="input" type="text" username="username" id="username" value="{{username}}">

            <label class="label" for="aboutUser">About</label>
            <textarea class="input" name="aboutUser" cols="30" rows="3" value="{{aboutUser}}"></textarea>

            <label class="label" for="phone">Phone Number</label>
            <input class="input" type="text" phone="phone" id="phone" value="{{phone}}">

            <label class="label" for="address">Address</label>
            <input class="input" type="text" address="address" id="address" value="{{address}}">

            <label class="label" for="userImage">Upload Image</label>
            <input type="file" name="userImage">

            <button type="submit">{{button}}</button>
        </form>
    </div>
</div>