{{!-- <div class="user-profile-card">
    <div class="user-profile-form-card">
        <form class ="form" action="{{action}}" method="POST" enctype="multipart/form-data">

            <label class="label" for="username">Username</label>
            <input class="input" type="text" username="username" id="username" value="{{username}}">

            <label class="label" for="aboutUser">About</label>
            <textarea class="input" name="aboutUser" cols="30" rows="3" value="{{aboutUser}}"></textarea>

            <label class="label" for="phone">Phone Number</label>
            <input class="input" type="text" phone="phone" id="phone" value="{{phone}}">

            <label class="label" for="address">Address</label>
            <input class="input" type="text" address="address" id="address" value="{{address}}">

            <label class="label" for="userImage">Upload Image</label>
            <input type="file" name="userImage">

            <button type="submit">{{button}}</button>
        </form>
    </div>
</div> --}}

<div id="user-profile">

    <h1 class="user-profile-title">Public profile of {{cocktail}} Creator</h1>

        <div class="user-card">
            <img class="user-image"src="{{userInfo.userImage}}" alt="User Image">
            <h2 class="cocktail-title">{{userInfo.username}}</h2>
            <p class="email">{{userInfo.email}}</p>
            <p class="phone">{{userInfo.phone}}</p>
            <h3>About me</h3>
            <p class="about">{{userInfo.aboutUser}}</p>
            
            <div class="address-container">
                <div class="address-title-container">
                    <h4>Where I live</h4>
                    <p class="address">{{userInfo.address}}</p>
                </div>
                <div class="address-map-container">
                    <h4>View on Maps</h4>
                    <iframe width="200" height="200" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q={{userInfo.address}}&key={{process.env.API_KEY}}" allowfullscreen></iframe>
                </div>
            </div>

            <h3>My Favourites</h3>
            <div class="my-cocktails-container">
                {{#each userInfo.favourites}}
                    <a href="/cocktails/{{_id}}"><img id="my-cocktail-images" src="{{cocktailImage}}" alt="New Cocktail" width="200px"></a>
                    <p>{{name}}</p>
                {{/each}}
            </div>  

            <h3>My own Cocktails creations</h3>
            <div class="my-cocktails-container">
                {{#each userInfo.myCocktails}}
                    <a href="/cocktails/{{_id}}"><img id="my-cocktail-images" src="{{cocktailImage}}" alt="New Cocktail" width="200px"></a>
                    <p>{{name}}</p>
                {{/each}}
            </div>

            <div class="buttons-container">
                <a class="chat-button" href="/auth/chat">Chat with me!</a>
            </div>
        </div> 


</div>

